name: CI

on:
  push:
    branches: [ main ]

jobs:
  lint_build_test:
    name: Lint, Build, and Test
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ballast-dev/timbre
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.BALLAST_DEV_TOKEN }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup Git
        run: |
          # Prevent ownership errors in container environments
          git config --global --add safe.directory "${GITHUB_WORKSPACE}"
          
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'github-actions@github.com'
      

      - name: Test and Build
        run: |
          zig build test
          zig build all