name: docker
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile'


jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
    - name: Docker Login
      shell: bash
      run: |
        echo "${{ secrets.BALLAST_DEV_TOKEN }}" | docker login -u krakjn --password-stdin ghcr.io

    - uses: actions/checkout@v5

    - name: Build and Push Docker Image
      shell: bash
      run: |
        docker buildx build \
          --push \
          --platform linux/amd64 \
          --tag ghcr.io/ballast-dev/timbre \
          - < Dockerfile
